@font-face {
    font-family: "Undergrunge-Tornado";
    src: url(./font/UndergrungeTornado.ttf);
}

@font-face {
    font-family: "ProtestRevolution-Regular";
    src: url(./font/ProtestRevolution-Regular.ttf);
}


body {
    background: #121214;
    height: 100vh;
    display: flex;
    align-items: center;


}

.font_tornado {
    font-family: "Undergrunge-Tornado";
    font-size: 24px;

}

.font {}

.main-container {
    max-width: 560px;
    background-color: #000000;


}

.box_container_banner {
    height: 420px;

}

.card {
    background-color: #000000;



}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: red !important;
}

.card img {
    object-fit: cover;
    object-position: 10% -20px;
    border-radius: 20px;
}

#img-banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    background: url(img/banner-.jpeg) no-repeat center center;
    background-size: contain;
    border-radius: 6px;
}


#img-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0 0 0 / 51%), rgb(0 0 0 / 72%), rgb(0, 0, 0));
}

.img-banner {
    position: relative;
    display: block;
    width: 100%;

}

.btn_person {
    width: 80%;
    border-radius: 30px;
    padding: 7px;
    font-size: 18px !important;
    font-family: "ProtestRevolution-Regular";


}

.box_servico {

    display: flex;
    justify-content: center;

}

.slick-dots {
    position: absolute;
    bottom: 3px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

}

.single-item img {
    width: 100%;
    height: 400px;
}

#slide-1 {

    background: url(img/Captura\ de\ tela\ 2024-11-14\ 174555.png) no-repeat center center;
    background-size: cover;
    background-position: top;
    /* Posiciona a imagem no topo */

}

.progress,
.progress-stacked {
    --bs-progress-height: 0.2rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg:red;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color:#353535b0;
    margin-bottom: 10px;
    border-radius: var(--bs-progress-border-radius);
}


.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.txt_destaque{
    font-size: 26px;
    

}



@media only screen and (max-width:768px) {

    body {
        background: #121214;
        height: 100%;
        display: flex;


    }

    #img-banner::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0 0 0 / 51%), rgb(0 0 0 / 72%), rgb(0, 0, 0));
    }



}

@media only screen and (max-width:550px) {
    #img-banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 292px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        background: url(img/banner-.jpeg) no-repeat center center;
        background-size: cover;
        border-radius: 6px;
    }

    body {
        background-color: #000000;
        height: 100%;
        display: flex;


    }

    .single-item img {
        width: 100%;
        height: 250px !important;
    }







}